* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #1d1d1d;
}

.border {
  border: 1px solid red;
}

.red {
  color: #d8444d;
}

.borderSelected {
  border-bottom: 3px solid #d8444d;
}

.boxShadow {
  -webkit-box-shadow: -2px 20px 12px -2px rgba(198, 198, 198, 0.66);
  box-shadow: -2px 20px 12px -2px rgba(198, 198, 198, 0.66);
}

.navbar {
  height: 8vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.routes {
  height: 90%;
  width: 22%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.paths {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.routeOption {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.routeOptionText {
  margin-top: 5px;
  font-size: 0.8rem;
}
.pathsContainer {
  width: 28%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  padding: 12px;
  border-radius: 25px;
}

.pathsContainer:hover {
  background-color: rgb(221, 236, 252);
}
.searchBuses {
  background-image: url("https://s3.rdbuz.com/Images/responsiveweb/HomeBanner.webp");
  height: 30vh;
  width: 100vw;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  position: relative;
}
.heading {
  position: absolute;
  top: 20%;
  left: 15%;
  color: white;
  font-size: 3rem;
  font-weight: 900;
}

.searchBusContainer {
  /* border: 1px solid red; */
  position: absolute;
  bottom: -25%;
  left: 15%;
  height: 50%;
  width: 70%;
  background-color: white;
  border-radius: 20px;
}
.SearchBusesButton {
  position: absolute;
  bottom: -30%;
  left: 42.5%;
  height: 15%;
  width: 15%;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
  align-items: center;
  border: none;
  outline: none;
  background-color: #d8444d;
  color: white;
}
